@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

#conteudo{
    display: flex;
    background: #FBF9FD;
    font-family: "Poppins", sans-serif;
}

/* BARRA DE NAVEGAÇÃO */
#containerBarraTarefas{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15dvh;
    margin: 1dvw;
    background: #449934;
    border-radius: 10px;
    box-shadow: 0 2px 10px #353436;
    width: 15dvw;
    height: 95dvh;
}

#imgLogo{
    margin: 7dvh;
    width: 10dvw;
}

#opcMenu{
    font-weight: bold;
    text-align: center;
    list-style-type: none;
    background: #75B260;
    color: #FBF9FD;
    width: 10dvw;
}

#home{
    margin-right: 0.5dvw;
}

/* BARRA DE PESQUISA */
#containerConteudo{
    display: flex;
    flex-direction: column;
    margin: 1dvw;
    padding-left: 13dvw;
    gap: 20dvh;
}

#barraPesquisa{
   display: flex;
   align-items: center;
   padding-left: 10dvw; 
   gap: 1dvw;
}

#intBusca{
    width: 22dvw;
    height: 3dvh;
    border: none;
    background: #D7D6D7;
    box-shadow: 0 0 10px #353436;
    border-radius: 8px;
}

#pesquisa{
    width: 3dvw;
    height: 4dvh;
    font-size: 1rem;
    border: none;
    border-radius: 50px;
    background: #449934;
    color: #FBF9FD;
    box-shadow: 0 0 10px#353436;
}

#pesquisa:hover{
    transition: all 1s;
    box-shadow: 3px 3px 20px #449934;
}

/* ADICIONAR CADASTRO */
#boxInfor{
    display: flex;
    justify-content: center;
}

#addCadastro{
    margin-left: 15dvw;
    padding: 0.5dvw;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    background: #449934;
    color: #FBF9FD;
    box-shadow: 0 0 10px #353436;
}

.box{
    color: #FBF9FD;
}

/* LISTA DOS CADASTRO */
#lista{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.3rem;
    background: #75B260;
    height: auto;
    width: auto;
    border-radius: 2px;
    color: #FBF9FD;
    list-style-type: none;
}