#boxCadastro{
    margin: 25dvw;
    margin-left: 35dvw;
    padding: 2dvh;
    font-size: 1.5rem;
    text-align: start;
    border: none;
    border-radius: 10px;
    background:#449934;
}

#boxcadastro::backdrop{
    background-color: rgba(0, 0, 0, 0.671);
}

@media only screen and (min-width: 1200px) {
    #boxCadastro{
        margin: 15dvw;
        margin-left: 37dvw;
    }

    #boxcadastro::backdrop{
        background-color: rgba(0, 0, 0, 0.671);
    }
}